 /* ak_site
  v 2.0 - 10-2023
*/

.menu_highlight {
    background-color: red;
}

#menu_grid  {
	width: 100%;
	margin: 0px 0px 0px 0px;
}

#menu_grid .menu_header {
	text-align: left;
	font-family: letter-gothic-std, monospace;
	font-weight: 300;
	font-style: normal;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	color: #222;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 0;
	padding: 0px 6px 10px 20px;
}

#menu_grid td {
	text-align: left;
	padding-right: 14px;
	padding-left: 20px;
	border-bottom: 1px dotted #aaa;
	font-family: "neuzeit-grotesk", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 16px;
	line-height: 32px;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 0;
}

#menu_grid a  {
	text-decoration: none;
	color: #222;
}

.menu_row:hover {
	background: #F8F4F1;
	color: #6219FF;
}

#big_2 section {
	margin: 0px 20px 48px 20px;
	padding: 0px 0px 24px 0px;
	border-bottom: 1px dotted #ccc;
	max-width: 1200px;
}

.feed p {
	font-family: letter-gothic-std, monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 26px;
	color: #444;
	margin: 0 0 1em 0;
	letter-spacing: -0.5px;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.feed ul {
	font-family: letter-gothic-std, monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 26px;
	color: #444;
	margin: 0px;
    padding-inline-start: 0px;
	letter-spacing: -0.5px;
	display: block;
}

.feed section {
	margin: 0px 20px 48px 20px;
	padding: 0px 0px 24px 0px;
	border-bottom: 1px dotted #ccc;
	max-width: 1200px;
}

article img {
	width: 100%;
	background-size: cover;
}

.feed {
	margin-top: 100px;
	margin-bottom: 80px;
    background-color: #F8F4F1;
}


