 /* ak_site
  v 2.0 - 10-2023
*/

/* add syntax highlight styles */
@import url("syntax-highlighting.css");


/* reset margins */
html, body, div, span, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, header, hgroup, menu, nav, output, section, summary, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
    text-overflow: ellipsis;
}

body {
	background-color: #F8F4F1;
}

footer {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
    overflow: hidden;
    text-overflow: ellipsis;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #222;
}


/* main content */
.lotsofstuff { 
    display: block;
    top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	text-align: left;
	overflow-y: auto;
    overflow-x: hidden;

}

.lotsofstuff_post {
	width: 100%;
    height: fit-content;
	margin: 0;
	text-align: left;
}

#big_1 {
    width: 33.33%;
	top: 0;
    float: left;
    margin: 0px;
	height: 100%;
    padding: 105px 0px 0px 0px;
	position: fixed;
	background-color: #fff;
	overflow: scroll;
}

#big_2 {
    width: 66.66%;
    float: right;
    margin: 0px;
	height: 100%;
    padding: 0px;
	overflow-y: auto;
    background-color: transparent;
	background-size: cover;
	padding-top: 100px;
}


#big_2 section {
	padding: 0px 20px 40px 20px;
	border-bottom: 1px dotted #ccc;
	max-width: 1200px;
	overflow: hidden;
	margin: 0px auto 40px auto;
	background: transparent;
}





/* ++++++++++ MENU SCROLL INDICATOR ++++++++++ */

.menu_row {
    border-left: 2px solid #FFFFFF;
}

.menu_highlight {
    background-color: #F8F4F1;
    border-left: 2px solid #6219FF;
}

.menu_row:hover {
	background: #F8F4F1;
	color: #6219FF;
}

.menu_row_active {
	background: #F8F4F1;
}


#mygrid_data_column_1:hover {
	background: #F8F4F1;
	color: #6219FF;
}

#menu_grid  {
	width: 100%;
	margin: 0px 0px 0px 0px;
}

#menu_grid .menu_header {
	text-align: left;
	font-family: letter-gothic-std, monospace;
	font-weight: 300;
	font-style: normal;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	color: #222;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 0;
	padding: 0px 6px 10px 20px;
}

#menu_grid td {
	text-align: left;
	padding-right: 14px;
	/* padding left needs to be 2px less to account for the 2px border left */
	padding-left: 18px;
	border-bottom: 1px dotted #aaa;
	font-family: "neuzeit-grotesk", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 16px;
	line-height: 32px;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 0;
}

#menu_grid a  {
	text-decoration: none;
	color: #222;
}

.feed ul {
	font-family: letter-gothic-std, monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 26px;
	color: #444;
	margin: 0px;
    padding-inline-start: 0px;
	letter-spacing: -0.5px;
	display: block;
}

.feed section {
	margin: 0px 20px 48px 20px;
	padding: 0px 0px 24px 0px;
	border-bottom: 1px dotted #ccc;
	max-width: 1200px;
}

article img {
	width: 100%;
	background-size: cover;
}

.feed {
	margin-top: 100px;
	margin-bottom: 80px;
    background-color: transparent;
}




p {
	font-family: letter-gothic-std, monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	line-height: 18px;
	color: #444;
	margin: 0 0 1em 0;
	letter-spacing: -0.5px;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.column a {
	cursor: pointer; 
}

#navbar {
	overflow: hidden;
	background-color: #fff;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
/*	max-width: 1800px; */
}

.sticky + .content {
	padding-top: 60px;
}

#col_1, #col_2, #col_3 {
	font-family: letter-gothic-std, monospace;
	text-transform: uppercase;
    width: 33.33%;
	letter-spacing: 1.3px;
    display: inline-block;
    float: left;
    text-align: left;
    line-height: 24px;
    opacity: 100%;
    margin: 0;
    padding: 20px 0px 20px 20px;
    box-sizing: border-box;
    vertical-align: middle;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
}

#col_4 {
	font-family: letter-gothic-std, monospace;
	text-transform: uppercase;
    width: 33.33%;
	letter-spacing: 1.3px;
    display: none;
    float: left;
    opacity: 100%;
    box-sizing: border-box;
    vertical-align: middle;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
}


#col_3, #col_4 {
	cursor:	pointer;
}

#col_4 {
	
}

#col_4 img{
	width: 32px;
	height: 32px;
}



/* ++++++++++ INFO MODAL ++++++++++ */

#info_button {
	cursor: pointer;
}

.no-scroll {
   overflow: visible;
}

.info_overlay_back {
	display: none;
	position: fixed;
	opacity: 0;
	z-index: 5;
	left: 0;
	top: 64px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(245,245,245,0);
	cursor: pointer;
	transition: all 0.25s ease;
}

.info_overlay_left {
	border-radius: 0px;
	width: 33.33%;
	height: 0;
	background-color: white;
	z-index: 6;
	position: absolute;
	left: 0;
	top: 0;
	transform: translate(0, 0);
	overflow-x: hidden;
	overflow-y: auto;
	background-color: rgba(245,245,245,0.75);
	cursor: auto;
	transition: all 0.25s ease;
}


.info_overlay {
	border-radius: 0px;
	width: 66.66%;
	height: 0;
	background-color: white;
	z-index: 6;
	position: absolute;
	right: 0;
	top: 0;
	transform: translate(0, 0);
	overflow-x: hidden;
	overflow-y: auto;
	cursor: auto;
	transition: all 0.5s ease;
}

.info_close {
	position: fixed;
	right: 0;
	padding: 16px 16px 16px 0px;
	cursor: pointer;
}

.info_close:hover {
	color: #222;
}

#info_page {
	padding: 0px 20px 20px 20px;
	overflow-y: auto;
	gap: 40px;
	border-top: 1px dotted #DDD;
	display: inline-block;
}

#info_page p {
	font-family: "neuzeit-grotesk", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 16px;
	line-height: 32px;
}

#info_page .info_col_1 {
	float: left;
	width: 48%;
}

#info_page .info_col_2 {
	float: right;
	width: 40%;
	margin-right: 40px;
}

/* ++++++++++++++++ FONT SIZES ++++++++++++++++ */

h1, h1 a {
	text-align: left;
	font-family: letter-gothic-std, monospace;
	font-weight: 300;
	font-style: normal;
	font-size: 48px;
	line-height: 56px;
	letter-spacing: -0.5px;
	color: #222;
	text-decoration: none;
}

h2, h2 a {
	text-align: left;
	font-family: letter-gothic-std, monospace;
	font-weight: 300;
	font-style: normal;
	font-size: 40px;
	line-height: 48px;
	letter-spacing: 0.5px;
	color: #222;
	text-decoration: none;
}

h3, h3 a {
	text-align: left;
	font-family: letter-gothic-std, monospace;
	font-weight: 300;
	font-style: normal;
	font-size: 32px;
	line-height: 40px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	color: #222;
	text-decoration: none;
}

h4, h4 a {
	text-align: left;
	font-family: letter-gothic-std, monospace;
	font-weight: 300;
	font-style: normal;
	font-size: 24px;
	line-height: 32px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	color: #222;
	text-decoration: none;
}

h5, h5 a {
	text-align: left;
	font-family: letter-gothic-std, monospace;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
	line-height: 32px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	color: #222;
	text-decoration: none;
}

h6, h6 a {
	text-align: left;
	font-family: letter-gothic-std, monospace;
	font-weight: 300;
	font-style: normal;
	font-size: 16px;
	line-height: 32px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	color: #222;
	text-decoration: none;
}

.thumb_post {
	width: 100%;
	height: 480px;
	max-height: 480px;
	position: relative;
	overflow: hidden;
}

.thumb_post img {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* ++++++++++++++++ RIGHT COLUMN ++++++++++++++++ */

#big2 {
	max-width: 100%;
    overflow: auto;
}

/* article styling */

.posts p {
	font-family: letter-gothic-std, monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 26px;
	color: #444;
	margin: 0 0 1em 0;
	letter-spacing: -0.5px;
	display: block;
	margin-block-start: 24px;
	margin-block-end: 32px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.posts ul {
	font-family: letter-gothic-std, monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 26px;
	color: #444;
	margin: 0px;
    padding-inline-start: 0px;
	letter-spacing: -0.5px;
	display: block;
}

/* ++++++++++++++++ LEFT COLUMN ++++++++++++++++ */



.menu_header {
	padding-left: 20px;
}

.posts {
	margin-bottom: 80px;
    background-color: #F8F4F1;
}

.posts_archives {
	margin: 0px 20px 200px 20px;
    background-color: #F8F4F1;
	overflow-y: auto;
}

.post-links {
	margin: 0px 20px 0px 20px;
}

.posts article {
	margin: 0px 20px 48px 20px;
	padding: 0px 0px 24px 0px;
	border-bottom: 1px dotted #ccc;
	max-width: 1200px;
}

section img {
	width: 100%;
	background-size: cover;
}

code {
	width: 100%;
	white-space: wrap; 
}

.tag_cloud {
	margin: 40px 20px 0px 20px;
	max-width: 800px; 
}

table {
    border-spacing: 0px;
}

header {
/*	padding-bottom: 10px; */
}


.tag_cloud li {
	display: inline-block;
	font-family: "neuzeit-grotesk", sans-serif;
	letter-spacing: 1px;
	font-weight: 200;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 12px;
	background: #EFEDDE;
	color: #444;
	margin-right: 6px;
	margin-top: 10px;
	padding: 4px 8px 4px 8px;
	border-radius: 0px;
}

.tag_cloud ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

/* ++++++++++++++++ ARCHIVE ++++++++++++++++ */

.taglist time {
	text-align: left;
	font-family: letter-gothic-std, monospace;
	font-weight: 300;
	font-style: normal;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0px;
	line-height: 40px;
	color: #222;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 0;
}

.taglist a  {
	font-family: letter-gothic-std, monospace;
	font-weight: 300;
	font-style: normal;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0px;
	line-height: 40px;
	color: #6219FF;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 0;
}

.archive ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.archive h5:target {
	font-weight: 600;
	scroll-margin-top: 70px;
}

.archive li {
	margin-bottom: 0px;
}

.archive .tag_cloud li {
	background-color: #fff;
}

.archive article h5 {
	padding-top: 20px;
	padding-bottom: 4px;
}

.archive article h3 {
	padding-bottom: 40px;
}

/* +++++++ RETURN ARCHIVE +++++++ */


.return {
	display: none;
}

h5:target + .taglist .return {
	display: block;
}

.return a {
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color: #6219FF;
}

/* +++++++ RETURN EVERYWHERE ELSE +++++++ */

h5:target + .taglist .return2 {
	display: block;
}

.return2 {
	text-align: left;
	font-family: letter-gothic-std, monospace;
	font-weight: 300;
	font-style: normal;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	cursor: pointer; 
	letter-spacing: 1.3px;
	color: #222;
	text-decoration: none;
	padding: 40px 20px 0px 20px;
	margin: auto;

}

.section_spacer {
	height: 200px;
	width: 100%;
	background: transparent;
}




@media screen and (min-height: 991px) {

	section:last-of-type {
		height: 75vh;
	}

}


/*
.return a:before {
	content: '\25b2\00a0';
}
*/




.archive .tag_cloud li {
	background-color: #fff;
}

p.excerpt {
	font-family: letter-gothic-std, monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 26px;
	color: #444;
	margin: 0 0 1em 0;
	letter-spacing: -0.5px;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

p.excerpt a {
	font-family: letter-gothic-std, monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 26px;
	color: #444;
}

time {
	text-align: left;
	font-family: letter-gothic-std, monospace;
	font-weight: 300;
	font-style: normal;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0px;
	line-height: 40px;
	color: #888;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 0;
}

footer p {
	font-family: letter-gothic-std, monospace;
	line-height: 32px;
}

footer p a {
	font-family: "neuzeit-grotesk", sans-serif;
	letter-spacing: 1px;
	font-weight: 100;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 12px;
	background: #fff;
	color: #444;
	margin-right: 6px;
	margin-top: 12px;
	padding: 4px 8px 4px 8px;
	border-radius: 0px;
	margin: 0px;
	line-height: 30px;
}

.back_button {
	padding-bottom: 10px;
	text-align: left;
	font-family: letter-gothic-std, monospace;
	font-weight: 300;
	font-style: normal;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	cursor: pointer; 
	letter-spacing: 1.3px;
	color: #222;
	text-decoration: none;
}

/* ++++++++++++++++ SYNTAX HIGHLIGHTING ++++++++++++++++ */

p code {
	font-family: letter-gothic-std, monospace;
	font-style: normal;
	line-height: 16px;
	margin: 0 0 1em 0;
	letter-spacing: -0.5px;
	font-weight: 400;
	color: #7B7261;
	padding: auto 3px auto 3px;
	background-color: #fff;
}

pre {
	font-size: 14px;
	line-height: 22px;
	color: #7B7261;
	padding: 20px 20px;
	font-weight: 400;
	margin-bottom: 10px;
	margin-top: 10px;
	border-left: 4px solid #7B7261;
	background: #fff;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	width: 100%;
}

@media screen and (max-width: 1600px) {

	.thumb_post {
		width: 100%;
		height: auto;
		max-height: 480px;
		position: none;
		overflow: hidden;
	}


	.thumb_post img {
		margin: 0;
		position: relative;
		top: 50%;
		-ms-transform: none;
		transform: none;
	}

}

@media screen and (max-width: 800px) {


	#big_1 {
		display: none;
		width: 100%;
		float: left;
		margin: 0px;
		height: 100%;
		padding: 0px;
		position: absolute;
		background-color: #fff;
	}

	#big_2 {
		width: 100%;
		float: right;
		margin: 0px;
		height: 100%;
		padding: 0px;
		overflow-y: auto;
		background-color: #F8F4F1;
		background-size: cover;
	}
}








