---
layout: default
title: ak_site
---


	{% for post in paginator.posts %}
		<section>

		<header>
			<h3><a href="{{site.baseurl}}{{post.url}}" title="it's ok, click me.">{{post.title}}:{{post.category}}</a></h3>
			
			<time itemprop="dateCreated" datetime="{{post.date}}">
				{{post.date | date:"%B %Y"}} + {{post.loc}}
			</time>
		
		</header> 

	{% if post.image %}
	<!-- if there's an image added to front matter, display it -->
		<div class="thumb_post"><a href="{{site.baseurl}}{{post.url}}" title="it's ok, click me."><img src="{{ site.baseurl }}/images/{{ post.image }}"></a>
		</div>
	{% else %}
	<!-- if not, display nothing -->
    {% endif %}
		<p class="excerpt"><a href="{{site.baseurl}}{{post.url}}">{{post.excerpt | strip_html}}</a><a href="{{site.baseurl}}{{post.url}}" title="read more" class="more"> [read&nbsp;more]</a></p>
		<footer>
			<p>{% for tag in post.tags %}<a href="{{site.baseurl}}/tags/index.html#{{tag | cgi_escape}}" title="Posts tagged {{tag}}">{{tag}}</a>{% unless forloop.last %}{% endunless %} {% endfor %}</p>
		</footer>
		</section>
	{% endfor %}
	<div class="section_spacer">
		<div class="return2"><a href="#top" style="color:#222222" title="return to top">return to top</a></div>
	</div>





