
<div id="info_page">
	<div class="info_col_1">
		<p>
			<h5>
				About Aaron
			</h5>
		</p>
		<p>
		Aaron is a multi-disciplinary designer with a focus on product design. With over 15 years in the field, he’s had the opportunity to work at agencies, consultancies and in-house but currently prefers helping out start-ups. Some previous experiences include IDEO, Google, R/GA, Frog, Verizon, Citi, GE, Betaworks and Instapaper.
		</p>
		<p>
			
		</p>
	</div>

	<div class="info_col_2">
		<p>
			<h5>
				About This Site
			</h5>
		</p>
		<p>
			This site is an evolving work-in-progress with selected studies and samples from past projects. Equal parts process and final hand-off, it’s meant to showcase thought patterns that are unique for each project in order to create a variety of work.
		</p>
		<p>

		</p>
		<p>
			{% highlight html %}
			font-family: 'Atlas typewriter Web';
			{% endhighlight %}
			{% highlight html %}
			font-family: 'Atlas Grotesk Web';
			{% endhighlight %}
		</p>
	</div>
</div>