
<div id="info_page">
	<div class="info_col_1">
		<p>
			<h5>
				About Aaron
			</h5>
		</p>
		<p>
		Aaron is a multi-disciplinary designer with a focus on product design. With over 15 years in the field, he’s had the opportunity to work at agencies, consultancies and in-house but currently prefers helping out start-ups. Some previous experiences include: IDEO, Google, R/GA, Frog, Verizon, Citi, GE, Betaworks and Instapaper.
		</p>
		<p>
			
		</p>
	</div>

	<div class="info_col_2">
		<p>
			<h5>
				About This Site
			</h5>
		</p>
		<p>
			This site is an evolving work-in-progress with selected case studies and samples from past projects.
		</p>
		<p>
		Jowl pig jerky ham biltong, corned beef beef picanha meatloaf ball tip. Chislic shoulder pastrami meatloaf turkey meatball pork belly burgdoggen kevin flank ribeye chuck biltong cow. Ham hamburger ground round, corned beef sirloin ham hock pastrami cupim turducken strip steak ball tip shoulder turkey pork chop. Pancetta bacon chislic cow kielbasa. Swine jerky prosciutto jowl, cow tongue strip steak pancetta cupim.
		</p>
		<p>
			{% highlight html %}
			font-family: 'Atlas typewriter Web';
			{% endhighlight %}
			{% highlight html %}
			font-family: 'Atlas Grotesk Web';
			{% endhighlight %}
		</p>
	</div>
</div>