
<div id="info_page">
	<div class="info_col_1">
		<p>
			<h5>
				About Aaron
			</h5>
		</p>
		<p>
		Bacon ipsum dolor amet alcatra short loin tail meatloaf, cow buffalo jerky filet mignon swine porchetta ball tip hamburger ribeye tenderloin. Hamburger turkey porchetta, picanha ball tip shankle pig landjaeger t-bone tenderloin filet mignon tail. Chicken pork loin spare ribs beef ground round, swine jerky biltong. Shankle meatball tongue swine leberkas corned beef doner turducken. Tenderloin frankfurter venison hamburger sirloin, chuck cow flank tri-tip.
		</p>
		<p>
		Tri-tip salami short loin drumstick porchetta. Pork turducken bacon boudin corned beef beef ribs sausage shankle shoulder short loin swine kielbasa turkey beef. Ham hock corned beef burgdoggen, venison salami kielbasa rump beef chicken beef ribs ham. Brisket spare ribs tri-tip cupim pork corned beef, jowl t-bone. Cupim tongue sausage capicola buffalo doner pig tail pastrami tri-tip.
		</p>
	</div>

	<div class="info_col_2">
		<p>
			<h5>
				About This Site
			</h5>
		</p>
		<p>
		T-bone cow shoulder brisket jowl tri-tip doner swine short loin burgdoggen pork chop turducken ground round pork loin. Pastrami chislic alcatra ham hock pork belly hamburger. Shoulder beef ribs pork belly chuck shank, boudin turkey cupim short ribs ball tip. Short ribs jowl sausage, corned beef short loin filet mignon t-bone hamburger pastrami tri-tip. Tail capicola porchetta pork belly cow, swine pork loin biltong bresaola. Beef ribs porchetta picanha prosciutto kielbasa sausage. Ball tip shankle short loin tongue capicola picanha andouille shoulder pastrami biltong short ribs salami cow shank.
		</p>
		<p>
		Jowl pig jerky ham biltong, corned beef beef picanha meatloaf ball tip. Chislic shoulder pastrami meatloaf turkey meatball pork belly burgdoggen kevin flank ribeye chuck biltong cow. Ham hamburger ground round, corned beef sirloin ham hock pastrami cupim turducken strip steak ball tip shoulder turkey pork chop. Pancetta bacon chislic cow kielbasa. Swine jerky prosciutto jowl, cow tongue strip steak pancetta cupim.
		</p>
		<p>
			{% highlight html %}
			font-family: 'Atlas typewriter Web';
			{% endhighlight %}
			{% highlight html %}
			font-family: 'Atlas Grotesk Web';
			{% endhighlight %}
		</p>
	</div>
</div>