 /* pageo
  v 2.0 - 08-2023
*/

/* reset margins */
html, body, div, span, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, section, summary, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}



/* GENERAL –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

p {
	color: #222222;
	text-align: left;
	font-family: urw-din, Source Sans Pro, Sans-Serif;
	font-weight: 200;
	font-style: normal;
	font-size: 20px;
	line-height: 30px; /* 150% */
}

h1 {
	color: #222222;
	font-family: Baskerville-URW, Source Serif Pro, Georgia;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0px;
	font-size: 72px;
	line-height: 72px;
}

.h1b {
	color: #222222);
	font-family: Baskerville-URW, Source Serif Pro, Georgia;
	font-weight: 200;
	font-style: normal;
	letter-spacing: .2px;
	font-size: 64px;
	line-height: 72px;

}

h2 {
	color: #222222;
	text-align: left;
	font-family: Baskerville-URW, Source Serif Pro, Georgia;
	font-weight: 400;
	font-style: normal;
	letter-spacing: .2px;
	font-size: 48px;
	line-height: 56px;
}

h3 {
	color: #222222;
	text-align: left;
	font-family: Baskerville-URW, Source Serif Pro, Georgia;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
	line-height: 48px; 

}

h4 {
	color: #222222;
	text-align: left;
	font-family: Baskerville-URW, Source Serif Pro, Georgia;
	font-weight: 400;
	font-style: normal;
	font-size: 32px;
	letter-spacing: .2px;
	line-height: 40px; 
}

h5 {
	color: #222222;
	text-align: left;
	font-family: Baskerville-URW, Source Serif Pro, Georgia;
	font-weight: 400;
	font-style: normal;
	font-size: 24px;
	line-height: 34px; 
}

h6 {
	color: #222222;
	text-align: left;
	font-family: urw-din, Sans-Serif;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
	line-height: 28px; 
}

a {
	text-decoration: none;
	color: #6219FF;
}

.prod_intro a:hover {
	text-decoration: none;
	background: #E4F4E9;
}




/* TOUT1 –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */


/*.tout1 {
	display: block;
	text-align: center;
	max-width: 1120px;
	margin: 40px auto 80px auto;
	padding: 80px 80px 80px 80px;
	position: relative;
	background-color: #FFFFFF;
	border: 1px dashed #D1C6AC;
} */

.tout1 h3 {
	max-width: 800px;
	line-height: 60px;
	font-weight: 400;
	margin: auto;
}

.tout1 h5 {
	max-width: 800px;
	font-weight: 400;
	padding: 20px 0 20px 0;
	line-height: 50px;
	margin: auto;
}

.tout1 {
	display: block;
	max-width: 980px;
	margin: 0px auto 0px auto;
	padding: 80px 40px 80px 40px;
	text-align: center;
	position: relative;
	background-color: #FFFFFF;
	border: none;
}


@media screen and (max-width: 1000px) {

	.tout1 h5 {
		padding: 20px 0 20px 0;
		line-height: 40px;
	}

	.tout1 h3 {;
		line-height: 50px;
	}

}

@media screen and (max-width: 800px) {

	.tout1 h5 {
		font-size: 20px;
		padding: 16px 0 16px 0;
		line-height: 30px;
	}
		
	.tout1 h3 {
		font-size: 32px;
		line-height: 40px;
		max-width: 600px;
		margin: auto;
		margin-bottom: 20px;
		padding-top: 8px;
	}
	.tout1 {
		display: block;
		max-width: 980px;
		margin: 0px auto 0px auto;
		padding: 80px 40px 80px 40px;
		text-align: center;
		position: relative;
		border: none;
	}

}




/* DIVIDER  –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.divider {
	height: 165px;
	text-align: center;
	width: 100%;
	font-size: 32px;
	line-height: 160px;
	font-family: Baskerville-URW, Source Serif Pro, Georgia;
	color: #444444;
	letter-spacing: 1.6px;
	text-transform: uppercase;
	margin-top: 0px;
	border-top: 3px solid #CCCCCC;
	border-bottom: 2px dashed #CCCCCC;
}

.divider h2 {
	text-align: center;
	font-family: Baskerville-URW, Source Serif Pro, Georgia;
	color: #444444;
	line-height: 165px;
}

@media screen and (max-width: 1000px) {

	.divider {
		height: 120px;
		width: 100%;
		font-size: 32px; 
		text-align: center;
		line-height: 115px;
		margin-top: 0px;
		border-top: 4px solid #CCCCCC;
		border-bottom: 1px solid #CCCCCC;
	}
	
	.divider h2 {
		font-size: 32px; 
		line-height: 120px;
		
	}
}

@media screen and (max-width: 800px) {
	
	.divider {
		font-size: 28px; 
		line-height: 120px;
		
	}
}




/* LUNCH MENU –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */



/* ABOUT US –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– 


.about_us {
	background-color: #FFFFFF;
	height: 100%;
	padding-bottom: 80px;
}

.about_copy_image {
	max-height: 600px;
    background-position: center;
    background-position: top;
    background-image: url('../images/weddings/background_blur/bg_01_desktop.png');
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: 1280px auto;
}

.about_image_copy {
	max-height: 600px;
    background-position: center;
    background-position: top;
    background-image: url('../images/weddings/background_blur/bg_02_desktop.png');
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: 1280px 600px;
}

.about_image_copy .about_left_image, {
	order: 1;
}

.about_image_copy .about_right_copy, {
	order: 2;
}

.about_left_copy .h1b, .about_right_copy .h1b {
	padding-bottom: 32px;
}

.about_row {
	max-width: 1220px;
	display: flex;
	height: 700px;
  	align-items: center;
  	justify-content: center;
	align-content: center;
	margin: auto;
}

/* OUR STORY 

.about_left_copy { 
	float: left;
	width: 50%;
	padding: 40px;
}

.about_right_image { 
	float: right;
	height: 600px;
	width: 50%;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding-left: 100px;
	
}

/* THE FARM 

.about_right_copy { 
	float: right;
	width: 50%;
	padding: 40px;
}

.about_left_image {
	float: left;
	height: 600px;
	width: 50%;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding-right: 100px;
}

.about_left_image img, .about_right_image img {
	width: 800px;
	border-radius: 8px;
}

.about_right_image img {
	float: left;
	width: 800px;
	padding-left: 80px;
}

.about_left_image img {
	float: left;
	padding-right: 80px;
	width: 800px;
}
	
@media screen and (max-width: 1150px) {

	.about_us {
		background-color: #FFFFFF;
		height: 100%;
		padding: 0px 0px 80px 0px;
	}
	
	.about_left_copy {
		min-width: 400px;
		text-align: left;
		float: left;
		margin: auto;
		padding: 40px 60px 40px 20px;
	}
	
	.about_right_copy {
		min-width: 400px;
		text-align: right;
		float: right;
		margin: auto;
		padding: 40px 20px 40px 60px;
	}

	.about_right_image {
		float: left;
		display: flex;
		height: auto;
		position: relative;
		max-width: 400px;
		min-width: 350px;
	}
	
	.about_right_image img {
		float: left;
		width: 700px;
		padding-left: 60px;
	}

	
	.about_left_image img {
		float: left;
		padding-right: 60px;
		width: 700px;
	}
	
	
	.about_left_image {
		float: right;
		display: flex;
		height: auto;
		position: relative;
		max-width: 400px;
		min-width: 350px;
	}
	
	.about_right_copy .h1b {
		text-align: left;
	}
	
  
}

@media screen and (max-width: 800px) {


	.about_us {
		background-color: #FFFFFF;
  		height: 100%;
		padding: 80px 0px 80px 0px;
		
	}
	
	p {
		font-size: 20px;
		line-height: 30px;
		
	}
	

	.about_image_copy .about_left_image {
		order: 2;
	}
	
	.about_image_copy .about_right_copy {
		order: 1;
	}

  	.about_row {
  		display: flex;
  		flex-direction: column;
  		height: auto;
  	
  	}
  	
	.about_copy_image {
  		max-height: 100%;
  	}
	
	.about_image_copy {
  		max-height: 100%;
  		padding-top: 80px;
  	}
  	

  	
	.about_left_copy {
		width: auto;
		margin: auto;
		padding: 0px 20px 60px 20px;
		height: 100%;
	}
	
	.about_right_copy {
		float: left;
		width: auto;
		margin: auto;
		padding: 0px 20px 60px 20px;
		height: 100%;
	}

	.about_right_copy .h1b, .about_left_copy .h1b {
		text-align: left;
		font-size: 48px;
		line-height: 48px;
		padding-bottom: 20px;
		padding-left: 60px;
		
	}
	
	.about_right_copy p, .about_left_copy p {
		text-align: left;
		padding-right: 60px;
		padding-left: 60px;
		font-size: 20px;
		line-height: 30px;
		
	}
	

	.about_right_image, .about_left_image {
		max-width: 100%;
		height: 100%;
		padding-left: 0px;
		padding-right: 0px;
		
	}


	.about_right_image img, .about_left_image img {
		float: left;
		padding: 0;
		height: auto;
		width: 100vw;
		overflow: hidden;
		text-align: center;
		border-radius: 0;
	}

	
}

@media screen and (max-width: 600px) {



	.about_us {
		background-color: #FFFFFF;
  		height: 100%;
		padding: 60px 0px 0px 0px;
		
	}

	.about_right_copy p, .about_left_copy p {
		text-align: center;
		padding: 0px 20px 0px 20px;
		font-size: 18px;
		line-height: 28px;
		letter-spacing: .5px;
		
	}
	
	.about_right_copy .h1b, .about_left_copy .h1b {
		text-align: center;
		font-size: 48px;
		line-height: 48px;
		padding-bottom: 20px;
		padding-left: 0px;
		
	}
	
	.about_right_image, .about_left_image {
		float: left;
		padding-left: 0px;
		padding-right: 0px;
		height: 300px;
		width: 100vw;
		overflow: hidden;
		text-align: left;
	}
	
	.about_right_image img, .about_left_image img {
		float: left;
		padding: 0;
		height: auto;
		overflow: hidden;
		text-align: left;
		position: left;
		border-radius: 0;
	}
	
	
	
}







/* SERVICES –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */



@media (max-width: 1200px) {
  .services1 {
    padding: 0px 20px 0px 20px;
  }
}

.services1 p {
	font-family: urw-din, Source Sans Pro, Sans-Serif;
	font-size: 12pt;
	text-align: center;
	line-height: 18pt;
	color: #222;
   	padding-right: 10px;
   	padding-left: 10px;
}

.services1 h6 {
	text-align: center;
	padding-bottom: 16px;
}

.services1 {
	margin: 40px auto 60px auto;
	padding: 0px 32px 20px 32px;
	height: auto;
	display: flex;
	flex-direction: row;
	font-size: 30px;
	text-align: center;
	gap: 20px;
	width: 100%;
	max-width: 1184px;
}


.services1_left, .services1_center, .services1_right {
	background-color: #F8F4F1;
	padding: 24px 20px 32px 20px;
	flex: 33%;
	border-radius: 8px;
}

.our_services h5 {
	text-align: center;
	max-width: 780px;
	margin: 60px auto 20px auto;
	padding: 0px 40px 20px 40px;
	color: #444444;
}

@media screen and (max-width: 1000px) {
	
	.services1 {
		margin: 40px auto 40px auto;
		padding: 0px 32px 0px 32px;
		height: auto;
		display: flex;
		font-size: 30px;
		text-align: center;
		width: 100%;
		max-width: 1120px;
	}

	.our_services h5 {
		padding: 0px 40px 0px 40px;
	}

	.services1 {
		gap: 16pt;
		flex-direction: column;
	}

	.services1 p {
		max-width: 640px;
		margin: auto;
		padding-bottom: 10px;
	}

	.services1_left, .services1_center, .services1_right {
		flex: 33%;
	}
	
}	

@media screen and (max-width: 800px) {

	.services1 {
		margin: auto;
		height: auto;
		display: flex;
		font-size: 30px;
		text-align: center;
		gap: 16px;
		width: 100%;
		max-width: 1120px;
		flex-direction: column;
		padding: 20px 20px 60px 20px;
	}

	.services1 p {
		max-width: 440px;
		margin: auto;
		padding-bottom: 10px;
	}
		

}


/* –––––– */


* {
	box-sizing: border-box;
}

.card {
	background-color: #E4F4E9;
	text-align: center;
	padding: 1rem;
	height: auto;
	border-radius: 8px;
	/*
    background-position: center;
    background-position: top;
    background-image: url('../images/weddings/background_blur/bg_03_desktop.png'), url('../images/weddings/background_blur/bg_02_desktop.png');
	background-attachment: fixed; 
	background-size: cover; 
	-moz-background-size: cover; 
	-webkit-background-size: cover; 
	background-repeat: no-repeat; 
	*/

	
}

.cards {
	max-width: 1200px;
	margin: 40px auto 40px auto;
	display: grid;
	padding: 40px 20px 40px 20px;
	text-align: center;
	gap: 20px;
	width: 100%;
}

.cards p {
   	padding-right: 20px;
	max-width: 440px;
	margin: auto;
   	padding-left: 20px;
   	padding-bottom: 20px;
   	color: #222222;
	font-family: urw-din, Source Sans Pro, Sans-Serif;
	font-size: 12pt;
	text-align: center;
	line-height: 18pt;
}

.cards h6 {
   	padding-right: 20px;
   	padding-left: 20px;
   	color: #7B7261;
	text-align: center;
	padding-bottom: 16px;
}


@media (min-width: 1200px) {
	.cards { 
		grid-template-columns: repeat(4, 1fr);
		padding: 40px 20px 40px 20px;
	}
}

@media (max-width: 1200px) {
	.cards {
		margin: 40px auto 40px auto; 	
		padding: 0px 40px;
	}
}

@media (min-width: 800px) {
	.cards { 
		grid-template-columns: repeat(2, 1fr); 
	}
}

@media (max-width: 800px) {
	.cards { 
		padding: 0px 20px 0px 20px;
		margin: 20px auto 20px auto; 
	}
}




/* GETINTOUCH –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.getintouch_content {
	display: flex;
	width: 40%;
	padding-left: 40px;
	padding-top: 40px;
	flex-direction: column;
	align-items: left;
	gap: 10px;
}

.getintouch_left {
	padding: 60px 40px 0px 20px;
	margin-top: 0px;
	flex: 50%;
}

.getintouch_left h4 ol li {
	padding-bottom: 24px;
}

.getintouch_form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.getintouch_right {
	background-color: #FFFFFF;
	padding: 20px 40px 0px 40px;
	margin-top: 60px;
	flex: 50%;
	height: fit-content;
}

.getintouch_left h4 ol li {
	color: #222222;
	text-align: left;
	font-family: Baskerville-URW, Source Serif Pro, Georgia;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 48px;
}

@media (max-width: 1000px) {
	.getintouch_right, .getintouch_left {
		flex: 100%;
  }
}

.getintouch_background {
    background-position: center;
    background-position: top;
    background-image: url('../images/home/get_in_touch_bg.png');
    background-color: #FFFFF6;
    background-repeat: no-repeat;
    background-size: cover;
}

.getintouch {
	display: flex;
	flex-wrap: wrap;
	font-size: 30px;
	box-sizing: border-box;
	width: 100%;
	max-width: 1120px;
	padding-bottom: 60px;
	height: auto;
	margin: auto;
}

* {
  box-sizing: border-box;
}

.getintouch_right {
	background-color: #FFFFFF;
	flex: 50%;
}

.getintouch_right label {
	color: #222222;
	font-family: Baskerville-URW, Source Serif Pro, Georgia;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

input[type=text], select {
	font-family: urw-din, Source Sans Pro, Sans-Serif;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 1px;
	font-size: 14px;

}

input[type=text], select {
	width: 100%;
	padding-bottom: 20px;
	padding-top: 20px;
	outline: none;
	margin: 8px 0;
	display: inline-block;
	border: none;
	border-bottom: 1px solid #ccc;
	border-radius: 0;
	box-sizing: border-box;
}

input[type=submit] {
	width: 100%;
	background-color: #DFB9A4;
	color: #FFFFFF;
	padding: 24px 20px;
	margin: 40px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-family: urw-din, Source Sans Pro, Sans-Serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 1.6px;
	text-transform: uppercase;
}

input[type=submit]:hover {
	background-color: none;
}

input[type=text]:focus {
	background-color: none;
	border: none;
	border-bottom: 1px dotted black;
}

@media screen and (max-width: 1000px) {



	.getintouch {
		height: 100%;
		padding-bottom: 40px;
	}

	.getintouch_left h4 ol li {
		color: #222222;
		text-align: left;
		font-family: Baskerville-URW, Source Serif Pro, Georgia;
		font-size: 24px;
		line-height: 32px;
		font-style: normal;
		font-weight: 400;
	}

	.getintouch_form {
		display: flex;
		flex-direction: column;
		align-items: center;
	
	}

	.getintouch_left {
		padding: 60px 20px 0px 20px;
		margin-top: 0px;
		min-width: 400px;
		flex: 50%;
	}

	.getintouch_right {
		background-color: #FFFFFF;
		padding: 20px 40px 40px 40px;
		margin-top: 60px;
		margin-bottom: 20px;
		flex: 50%;
		height: fit-content;
	}

	input[type=submit] {
		width: 100%;
		background-color: #DFB9A4;
		color: #FFFFFF;
		padding: 20px;
		margin: 20px 0px 0px;
		border: none;
		cursor: pointer;
		font-family: urw-din, Source Sans Pro, Sans-Serif;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		letter-spacing: 1.6px;
		text-transform: uppercase;
	}

}

@media screen and (max-width: 800px) {



	.getintouch_left h4 ol li {
		color: #222222;
		text-align: left;
		font-family: Baskerville-URW, Source Serif Pro, Georgia;
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: 32px;
	}

	.getintouch_left {
		padding: 40px 40px 0px 30px;
		margin-top: 0px;
		min-width: 500px;
		flex: 50%;
	}

	.getintouch_right {
		background-color: #FFFFFF;
		padding: 20px 40px 0px 40px;
		margin-top: 0px;
		flex: 50%;
		height: fit-content;
	}

	input[type=submit] {
		width: 100%;
		background-color: #DFB9A4;
		color: #FFFFFF;
		padding: 24px 20px;
		margin: 40px 0;
		border: none;
		cursor: pointer;
		font-family: urw-din, Source Sans Pro, Sans-Serif;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		letter-spacing: 1.6px;
		text-transform: uppercase;
	}
	
	.getintouch {
		padding-bottom: 0px;
	}

	.getintouch_right {
		margin-bottom: 0px;
	}

}

@media screen and (max-width: 800px) {
	.arrow {
		visibility: hidden;
		display: none;
	}
}




/* LUNCH MENU –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

#lunch_menu {
	padding: 40px 20px 40px 20px;	
	max-width: 800px;
	margin: auto;
}

#lunch_menu h5 {
	font-family: Baskerville-URW, Source Serif Pro, Georgia;
	font-size: 26px;
	font-weight: 400;
	line-height: 40px;
	text-align: center;
	padding: 0px 0px 8px 0px;
}

#lunch_menu h2 {
	font-family: Baskerville-URW, Source Serif Pro, Georgia;
	font-size: 24px;
	font-weight: 400;
	line-height: 40px;
	text-align: center;
	padding: 40px 0px 0px 0px;
}

#lunch_menu h1 {
	font-family: urw-din, Source Sans Pro, Sans-Serif;
	font-size: 40px;
	font-weight: 100;
	color: #222;
	letter-spacing: 2px;
	line-height: 40px;
	text-align: center;
	padding: 40px 0px 40px 0px;
}

#lunch_menu p {
	font-family: urw-din, Source Sans Pro, Sans-Serif;
	font-size: 20px;
	line-height: 28px;
	color: #222;
	text-align: center;
	padding: 0px 0px 20px 0px;
}

#lunch_menu .horiz {
	margin: auto;
	padding: 0px 0px 40px 0px;
	width: 120px;
	border-bottom: 1px dashed #222;
}

#lunch_menu .asterik p {
	font-family: urw-din, Source Sans Pro, Sans-Serif;
	font-size: 20px;
	line-height: 22px;
	color: #222;
	text-align: center;
	padding: 0px 0px 20px 0px;
	font-style: italic;
}

#lunch_menu .asterik {
	margin: auto;
	padding: 40px 0px 20px 0px;
}

#lunch_menu .salad_sandwiches {
	margin: auto;
	padding: 0px 0px 0px 0px;
}

@media screen and (max-width: 800px) {

	#lunch_menu {
		padding: 20px 20px 40px 20px;	
	}


	#lunch_menu h5 {
		font-family: Baskerville-URW, Source Serif Pro, Georgia;
		font-size: 26px;
		font-weight: 400;
		line-height: 40px;
	}

	#lunch_menu h2 {
		font-family: Baskerville-URW, Source Serif Pro, Georgia;
		font-size: 24px;
		font-weight: 400;
		line-height: 40px;
		text-align: center;
		padding: 40px 0px 20px 0px;
	}

	#lunch_menu h1 {
		font-family: urw-din, Source Sans Pro, Sans-Serif;
		font-size: 36px;
		font-weight: 100;
		color: #222;
		letter-spacing: 2px;
		line-height: 40px;
		text-align: center;
		padding: 40px 0px 40px 0px;
	}

	#lunch_menu p {
		font-family: urw-din, Source Sans Pro, Sans-Serif;
		font-size: 18px;
		line-height: 28px;
		color: #222;
		text-align: center;
		padding: 0px 0px 20px 0px;
	}

	#lunch_menu .horiz {
		margin: auto;
		padding: 0px 0px 20px 0px;
		width: 120px;
		border-bottom: 1px dashed #222;
	}

	#lunch_menu .asterik p {
		font-family: urw-din, Source Sans Pro, Sans-Serif;
		font-size: 18px;
		line-height: 22px;
		color: #222;
		text-align: center;
		padding: 0px 0px 20px 0px;
		font-style: italic;
	}

	#lunch_menu .asterik {
		margin: auto;
		padding: 40px 0px 20px 0px;
	}

	#lunch_menu .salad_sandwiches {
		margin: auto;
		padding: 0px 0px 10px 0px;
	}

}

/* HERO –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */


.logo_hero_home {
	width: auto;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo_hero_home img {
  	transform: scale(1);
	max-width: 400px;
	max-height: 400px;
	margin: auto;
}

div.hero_info {
	display: block;
	height: auto;
	max-width: 800px;
	margin: 0px auto 0px auto;
	padding: 40px 0px 80px 0px;
	text-align: center;
	position: relative;
	background-color: none;
}

#home_hero, #hero_giftshop, #hero_weddings {
	display: block;
    width: 100%;
    height: auto;
	text-align: center;
	padding-top: 180px;
	padding-bottom: 60px;
    background-position: center;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#home_hero h2 {
    max-width: 800px;
    margin: auto;
	padding-top: 0px;
}

#hero_weddings h2, #hero_giftshop h2 {
    max-width: 800px;
    margin: auto;
	padding-top: 50px;
}

#hero_weddings hr, #hero_giftshop hr {
	margin-top: 80px;
	margin-right: auto;
	margin-left: auto;
}


@media screen and (max-width: 1000px) {


	.logo_hero_home {
		width: 100%;
		height: 400px;
	}
	
	.logo_hero_home img {
		transform: scale(.90);
	}

	#home_hero, #hero_giftshop, #hero_weddings {
		height: 100%;
		padding-top: 120px;
		padding-bottom: 70px;
	}
	
	div.hero_info {
		display: block;
		max-width: 980px;
		margin: 0px auto 0px auto;
		padding: 0px 80px 0px 80px;
		text-align: center;
		position: relative;
		background-color: none;
	}

	#home_hero h2 {
		max-width: 800px;
		font-size: 48px;
		line-height: 56px;
	}

	#hero_weddings h2, #hero_giftshop h2 {
		max-width: 600px;
		margin: auto;
		padding-top: 30px;
		font-size: 40px;
		line-height: 48px;
	}

	#hero_weddings hr, #hero_giftshop hr {
		margin-top: 60px;
		margin-right: auto;
		margin-left: auto;
	}
	
	#hero_weddings h1, #hero_giftshop h1 {
		font-size: 64px;
		line-height: 72px;
	}

}

@media screen and (max-width: 800px) {

	.logo_hero_home {
		width: 100%;
		height: 300px;
		display: flex;
		padding-top: 0px;
		justify-content: center;
		align-items: center;
	}

	.logo_hero_home img {
		transform: scale(.8);
		margin: auto;
	}


	#home_hero {
		height: 100%;
		padding-top: 120px;
		padding-bottom: 50px;
	}
	
	#hero_giftshop, #hero_weddings {
		height: auto;
		padding-top: 120px;
		padding-bottom: 50px;
	}

	div.hero_info {
		display: block;
		padding: 0px 0px 0px 0px;
		margin: 0px auto 0px auto;
		text-align: center;
		position: relative;
		background-color: none;
	}

	#home_hero h2 {
		max-width: 800px;
		font-size: 40px;
		line-height: 48px;
	}

	#hero_weddings h2, #hero_giftshop h2 {
		max-width: 440px;
		margin: auto;
		padding-top: 30px;
		font-size: 30px;
		line-height: 40px;
	}

	#hero_weddings hr, #hero_giftshop hr {
		margin-top: 40px;
		margin-right: auto;
		margin-left: auto;
		max-width: 160px;
	}

	#hero_weddings h1, #hero_giftshop h1 {
		font-size: 48px;
		max-width: 500px;
		margin: auto;
		letter-spacing: 1px;
		line-height: 64px;
	}


}






/* BUTTTON CTAS  –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */


#button_group_home a, #button_group_weddings a, #button_group_giftshop a, #button_group a {
	text-decoration: none;
}

.button1 {
	display: block;
	padding-left: 24px;
	padding-right: 24px;
	color: #FFF;
	font-family: urw-din, Source Sans Pro, Sans-Serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 64px;
	letter-spacing: 1.6px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 2px;
	text-align: center;
}


#button_group {
	padding-top: 48px;
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	gap: 32px;
	justify-content: center;
}


/* Home  */


#button_group_home {
	padding-top: 48px;
	padding-bottom: 0px;
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	gap: 32px;
	justify-content: center;
}

.button_home {
	display: block;
	width: 245px;
	font-family: urw-din, Source Sans Pro, Sans-Serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 64px;
	color: #222;
	background: #DFB9A4;
	letter-spacing: 1.6px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 2px;
	text-align: center;
}

a:hover .button_home {
	color: #FFFFFF;
	background: #DFB9A4;
}

@media screen and (max-width: 800px) {

	.button_home {
		font-size: 16px;
		font-weight: 400;
		min-width: 400px;
		padding: 0px 20px;
		margin: 0px 20px;
	}


	.button_home, .button2, .button1 {
		display: block;
		font-family: urw-din, Source Sans Pro, Sans-Serif;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 64px; 
		letter-spacing: 1.6px;
		background: #DFB9A4;
		min-width: 400px;
		padding: 0px 20px;
		margin: 0px 20px;
	}
	

	#button_group_home a:hover .button1 {
		color: #fff;
		background: #DFB9A4;
	}

	#button_group_home {
		padding-top: 48px 0 64px 0;
		gap: 20px;
	}

}



/* Weddings  */

#button_group_weddings {
	padding-top: 48px;
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	gap: 32px;
	justify-content: center;
}

.button_weddings {
	display: block;
	width: 245px;
	font-family: urw-din, Source Sans Pro, Sans-Serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 64px;
	color: #222222;
	background: #FEF2DA;
	letter-spacing: 1.6px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 2px;
	text-align: center;
}

a:hover .button_weddings {
	color: #6219FF;
	background: #FEF2DA;
}

@media screen and (max-width: 800px) {

	.button_weddings {
		font-size: 16px;
		font-weight: 400;
		min-width: 400px;
		padding: 0px 20px;
		margin: 0px 20px;
	}

	#button_group_weddings a {
		text-decoration: none;
		color: #222;
	}

}



/* Gift Shop  */

#button_group_giftshop {
	padding-top: 48px;
	padding-bottom: 0px;
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	gap: 32px;
	justify-content: center;
}

.button_giftshop {
	display: block;
	width: 245px;
	font-family: urw-din, Source Sans Pro, Sans-Serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 64px;
	color: #7B7261;
	background: #E4F4E9;
	letter-spacing: 1.6px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 2px;
	text-align: center;
}

a:hover .button_giftshop {
	color: #6219FF;
}


@media screen and (max-width: 800px) {

	.button_giftshop {
		font-size: 16px;
		font-weight: 400;
		min-width: 400px;
		max-width: 100%;
		padding: 0px 20px;
		margin: 0px 0px;
	}


	#button_group_giftshop a {
		text-decoration: none;
		color: #222;
	}


}




/* FOOTER –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */


footer div {
	letter-spacing: 1px;
}

footer {
	margin: 80px auto auto auto;
	border-top: 1px dashed #888;
	background-color: #FFFFFF;
	padding: 40px 40px 200px 40px;
}

footer .info_1 {
	order: 1;
}

footer .info_2 {
	order: 2;
}

footer .info_3 {
	order: 3;
}

footer .info_2, footer .info_1, footer .info_3 { 
	float: left;
	width: 33%;
	padding: 40px 40px 0px 40px;
	text-align: center;
}

footer .info_1 div, footer .info_3 div { 
	padding-top: 20px;
}

footer .row p {
	font-family: Baskerville-URW, Source Serif Pro, Georgia;
	font-size: 16px;
	line-height: 28px;
	font-weight: 400;
	color: #222;
	text-align: center;
}

footer .row {
	max-width: 1280px;
	margin: auto;
}

footer .row:after {
	content: "";
	display: table;
	clear: both;
}

@media screen and (max-width: 1000px) {

	footer {
		margin: 40px auto auto auto;
	}

	footer .info_1 {
		order: 1;
	}

	footer .info_2 {
		order: 3;
	}

	footer .info_3 {
		order: 3;
	}

	footer .info_1, footer .info_2, footer .info_3 { 
		width: 50%;
		height: auto;
	}
	

	
	.info_3 {
		text-align: right;
		padding-top: 40px;
		height: 100%;
		overflow: hidden;
	}

	.info_3 showup {
		height: 200px;
		
	}

	footer .info_1 div, footer .info_2 div, footer .info_3 div { 
		width: 100%;
		margin: auto;
	}

	footer .row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	
	footer .row p {
		text-align: left;
	}
	
}

@media screen and (max-width: 640px) {



	footer .info_1, footer .info_2, footer .info_3 { 
		width: 100%;
	}
	
	
	footer .info_1 {
		order: 1;
	}

	footer .info_2 {
		order: 3;
	}

	footer .info_3 {
		order: 2;
	}

	
	footer .info_2 {
		text-align: cneter;
		padding-top: 80px;
	}

	footer .row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding-bottom: 40px;
	}
	
	footer .row p {
		text-align: center;
	}
}









/* HOME - PARALLAX –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */


#parallax {
	max-width: 1280px;
	margin: auto;
}
	
#parallax h1 {
	color: #FFFFFF;
	text-align: center;
	font-family: Baskerville-URW, Source Serif Pro, Georgia;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 12px;
	font-size: 72px;
	line-height: 72px;
}

#parallax h2 {
	color: #FFFFFF;
	text-align: center;;
	font-family: Baskerville-URW, Source Serif Pro, Georgia;
	font-weight: 400;
	font-style: normal;
	letter-spacing: .2px;
	font-size: 48px;
	line-height: 56px;
}

.button_parallax {
	margin: 40px auto 30px auto;
	padding: 0px 28px 0px 28px;
	background-color: #FEF2DA;
	border: none;
	letter-spacing: 4px;
	color: #222222;
	text-align: center;
	font-family: urw-din, Source Sans Pro, Sans-Serif;
	font-size: 16px;
	line-height: 54px;
	font-style: normal;
	text-decoration: none;
	cursor: pointer;
}

#parallax p {
	color: #222222;
	text-align: center;
	font-family: Baskerville-URW, Source Serif Pro, Georgia;
	font-weight: 200;
	font-style: normal;
	width: 860px;
	margin: auto;
	font-size: 24px;
	line-height: 34px;
}

#parallax #parallax_01_block, #parallax #parallax_02_block, #parallax #parallax_03_block {
	background: white; 
	padding: 60px 60px 60px 60px; 
	margin:0 auto; 
	text-align:justify;
}

#parallax .section_overlay_mask {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	background-color: black; 
	opacity: 0.70;
}

#parallax #parallax_01 {
	padding-top: 200px; 
	padding-bottom: 200px; 
	overflow: hidden; 
	position: relative; 
	border-radius: 4px;
	width: 94%; 
	margin: auto;
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("../images/home/parallax_05.jpg");
	background-attachment: fixed; 
	background-size: cover; 
	-moz-background-size: cover; 
	-webkit-background-size: cover; 
	background-repeat: no-repeat; 
	background-position: top center;
}

#parallax #parallax_02 {
	padding-top: 200px; 
	padding-bottom: 200px; 
	overflow: hidden; 
	position: relative; 
	width: 94%; 
	margin: auto;
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("../images/home/parallax_07.jpg");
	background-attachment: fixed; 
	background-size: cover; 
	-moz-background-size: cover; 
	-webkit-background-size: cover; 
	background-repeat: no-repeat; 
	background-position: center center;
}

#parallax #parallax_03 {
	padding-top: 200px; 
	padding-bottom: 200px; 
	overflow: hidden; 
	position: relative; 
	width: 94%; 
	margin: auto;
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("../images/home/parallax_03.jpg");
	background-attachment: fixed; 
	background-size: cover; 
	-moz-background-size: cover; 
	-webkit-background-size: cover; 
	background-repeat: no-repeat; 
	background-position: center center;
}

#parallax hr {
	margin-top: 40px;
	margin-bottom: 40px;
	width: 120px;
}



@media screen and (max-width: 1000px) {

	#parallax p {
		width: auto;
		font-size: 24px;
		line-height: 34px;
	}

	#parallax #parallax_01, #parallax #parallax_02, #parallax #parallax_03 {
		padding-top: 120px; 
		padding-bottom: 120px;
	}
}

@media screen and (max-width: 800px) {

	#parallax #parallax_01_block, #parallax #parallax_02_block, #parallax #parallax_03_block {
		padding: 40px 40px 40px 40px; 
		margin: auto;
		width: auto;
	}

	#parallax h1 {
		font-size: 60px;
		padding-left: 10px;
	}

	#parallax #parallax_01, #parallax #parallax_02, #parallax #parallax_03 {
		padding-top: 100px; 
		padding-bottom: 100px;
		background-attachment: inherit; 
	}


}




/* WEDDINGS - PARALLAX –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

	
#weddings_about_us h1 {
	text-transform: uppercase;
	letter-spacing: 8px;
}
	
#weddings_about_us #parallax {
	margin-top: 40px;
}

		
#weddings_about_us #parallax_01_block, #weddings_about_us #parallax_02_block {
	padding-bottom: 100px;
}

#weddings_about_us #parallax #parallax_01 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("../images/weddings/about_us/our_story.jpg");
	border-radius: 4px;
}

#weddings_about_us #parallax #parallax_02 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("../images/weddings/about_us/the_farm.jpg");
	border-radius: 4px;
}

@media screen and (max-width: 800px) {
	
	#weddings_about_us h1 {
		font-size: 40px;
	} 

	#weddings_about_us p {
		font-size: 22px;
		line-height: 32px;
	}

	#weddings_about_us #parallax_01_block, #weddings_about_us #parallax_02_block {
		padding-bottom: 60px;
	}

	#weddings_about_us #parallax {
		margin-top: 20px;
	}

}




