 /* aaronkapor
  v 1.0 - 08-2023
*/

nav#sections {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    margin: 16px;
    padding: 0;
}

/* unordered list (ul) within the #section id */
#sections ul {
    display: block;
    float: left;
    list-style-type: none;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

/* line items (li) within the unordered list (ul) */
#sections ul li {
    margin-top: 8pt;
    margin-bottom: 8pt;
    padding: 0;
}

/* links (a) within line items (li) within the unordered list (ul) */
#sections ul li a {
    display: block;
    float: left;
    max-height: 16px;
    width: 100%;
    margin: 0;
    padding: 16px 0;

    font-family: Helvetica Neue, sans-serif;
    font-size: 20px;
    text-align: left;
    background-color: #ffffff;
    text-decoration: none;
    color: #888888;
    border-bottom: #ffffff solid 2px;
}

/* link hover (a:hover) within line items (li) within the unordered list (ul) */
#sections ul li a:hover { 
	border-bottom: #444444 solid 2px;
	color: #444444;
}