 /* prototype matter
*/



/* reset margins */
html, body, div, span, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, header, hgroup, menu, nav, output, section, summary, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    text-overflow: ellipsis;
    scroll-margin-top: 160px; 
}


body {
    background-color: #FFFFFF;
/*    padding-bottom: 800px;*/
}


h1 {
    color: #222;
    text-align: center;
    /* Subhead 2/A */
    font-family: CircularXX Light;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 72px; /* 112.5% */
}

h3 {
    color: var(--Gray-80, #3E3E42);
    text-align: center;
    /* Paragraph 2/A */
    font-family: CircularXX Regular;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 150% */
}



h3 {
    color: var(--Gray-90-Text-Black, #2E2E33);
    text-align: center;
    font-family: CircularXX Regular;
    padding-bottom: 40px;
    font-size: 48px;
    font-style: normal;
    font-weight: 450;
    line-height: 58px; /* 120.833% */
}






/*

░███    ░██    ░███    ░██    ░██ 
░████   ░██   ░██░██   ░██    ░██ 
░██░██  ░██  ░██  ░██  ░██    ░██ 
░██ ░██ ░██ ░█████████ ░██    ░██ 
░██  ░██░██ ░██    ░██  ░██  ░██  
░██   ░████ ░██    ░██   ░██░██   
░██    ░███ ░██    ░██    ░███    
                                  
*/



#topnav_fixed {
    position: fixed;
    height: 80px;
    top: 20px;
    z-index: 10000;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1920px; 
    padding: 40px 20px;
    justify-content: space-between;
    background-color: transparent; /* Initial transparent state */
    transition: background-color 0.4s ease; /* Smooth animation */
    transition: top 0.4s ease; /* Smooth animation */
}

@media screen and (max-width: 1920px) {
    #topnav_fixed {
       top: 0px;
       padding: 20px;
    }
}

@media screen and (max-width: 1280px) {
    #topnav_fixed {
        position: fixed;
        height: 80px;
        top: 0px;
        z-index: 10000;
        margin-left: auto;
        margin-right: auto;
        left: 50%;
        display: flex;
        transform: translateX(-50%);
        width: 100%;
        max-width: 1540px; 
        justify-content: space-between;
    }

}




.ham {
    display: none;
    padding-left: 8px;
}

@media screen and (max-width: 1280px) {
    .ham {
        display: flex;
        padding-left: 8px;
    }
}



.left,
.nav_links {
    display: flex;
    align-items: center;
    gap: 40px;
}


@media screen and (max-width: 1280px) {
    .nav_links {
        display: none;
    }

}








#topnav_fixed.scrolled {
    background-color: #ffffff; /* Solid white background */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); /* Optional drop shadow */
    border-radius: 0px 0px 4px 4px;
    top: 0px;
}


@media screen and (max-width: 1920px) {
    #topnav_fixed.scrolled {
        background-color: #ffffff; /* Solid white background */
        box-shadow: 0 2px 10px rgba(0,0,0,0.1); /* Optional drop shadow */
        border-radius: 0px;
        top: 0px;
    }
}

@media screen and (max-width: 768px) {
    #topnav_fixed.scrolled {
        height: 64px;
        padding: 20px 20px;
    }
}




.right {
    display: flex;
    align-items: center;
    gap: 24px;
    float: right;
}

.left img, svg {
    vertical-align: middle;
    height: 48px;
}


@media screen and (max-width: 768px) {
    .left img, svg {
        height: 40px;
    }
}

@media screen and (max-width: 374px) {
    .left img {
        width: 140px;
        vertical-align: middle;
    }

}


.nav_link {
    font-family: 'CircularXX Regular', Arial, sans-serif; 
    color: var(--m1_black, #222);
    text-align: right;
    font-feature-settings: 'liga' off;
    /*font-family: CircularXX;*/
    font-size: 16px;v
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 0.8px;
}



.nav_button_outline {
    display: flex;
    height: 44px;
    padding: 20px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 4px;
    /*border: 1px solid var(--m1_purple, #9327FF);*/
    border: none;
    background: #FFF;
}

.nav_button_outline:hover {
    background: #FBF7FF;
}

.nav_button_outline:active {
    background: #FFF;
}


@media screen and (max-width: 768px) {
    .nav_button_outline {
        border: none;
    }

}

.nav_button_outline .nav_link {
    color: var(--m1_purple, #9327FF);
    text-align: center;
    font-feature-settings: 'liga' off;
    font-family: CircularXX Light;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
    letter-spacing: 0.8px;
}

.nav_button_solid {
    display: flex;
    height: 44px;
    padding: 20px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 4px;
    border: none;
    background: var(--m1_purple, #9327FF);
}

.nav_button_solid:hover {
    background: #9E3CFF;
}

.nav_button_solid:active {
    background: var(--m1_purple, #9327FF);
}

.nav_button_group {
    display: flex;
    gap: 8px;
    align-items: center;
}

.nav_button_solid .nav_link {
    color: #FFFFFF;
    text-align: center;
    font-feature-settings: 'liga' off;
    font-family: CircularXX Light;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
}


@media screen and (max-width: 992px) {
    .nav_button_solid {
        display: none;
    }
    #signin {
        display: none;
    }
}


@media screen and (max-width: 450px) {
    .nav_button_outline {
        display: none;
    }
}



/*
░██     ░██ ░██████████ ░█████████    ░██████   
░██     ░██ ░██         ░██     ░██  ░██   ░██  
░██     ░██ ░██         ░██     ░██ ░██     ░██ 
░██████████ ░█████████  ░█████████  ░██     ░██ 
░██     ░██ ░██         ░██   ░██   ░██     ░██ 
░██     ░██ ░██         ░██    ░██   ░██   ░██  
░██     ░██ ░██████████ ░██     ░██   ░██████                                  
*/



/*
▗▖ ▗▖▗▄▄▄▖ ▗▄▖ ▗▄▄▄ ▗▄▄▄▖▗▄▄▖ 
▐▌ ▐▌▐▌   ▐▌ ▐▌▐▌  █▐▌   ▐▌ ▐▌
▐▛▀▜▌▐▛▀▀▘▐▛▀▜▌▐▌  █▐▛▀▀▘▐▛▀▚▖
▐▌ ▐▌▐▙▄▄▖▐▌ ▐▌▐▙▄▄▀▐▙▄▄▖▐▌ ▐▌
*/

#home_hero {
    display: flex;
    position: relative;
    width: 100%;
/*    max-height: 900px;*/
    min-height: 700px;
    overflow: hidden;
/*    margin-top: 90px;*/
/*    padding-top: 80px;*/
    padding-bottom: 80px;
    text-align: center;
    background-position: center;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
    /* z-index: -11; */

}


/*
▗▖ ▗▖▗▄▄▄▖▗▄▄▖  ▗▄▖▗▄▄▄▖▗▄▄▄▖▗▄▄▄▖▗▖   ▗▄▄▄▖
▐▌ ▐▌▐▌   ▐▌ ▐▌▐▌ ▐▌ █    █    █  ▐▌   ▐▌   
▐▛▀▜▌▐▛▀▀▘▐▛▀▚▖▐▌ ▐▌ █    █    █  ▐▌   ▐▛▀▀▘
▐▌ ▐▌▐▙▄▄▖▐▌ ▐▌▝▚▄▞▘ █  ▗▄█▄▖  █  ▐▙▄▄▖▐▙▄▄▖                                  
*/



.hero_title {
    font-family: 'CircularXX Regular', Arial, sans-serif; 
    text-align: center;
    font-feature-settings: 'liga' on;
    font-size: 88px;
    font-style: normal;
    line-height: 100px;
    max-width: 1062px;
    margin: auto;
    margin-top: 200px;
}

/*
▗ ▄▖▄▖▄▖
▜ ▄▌▙▌▛▌
▟▖▙▖▙▌█▌
*/

@media screen and (max-height: 900px), screen and (max-width: 1280px) {

    .hero_title {
        font-size: 72px;
        line-height: 88px;
        margin-top: 120px;
        max-width: 1062px;
        padding: 40px;
        transition: margin-top 0.4s ease;
        transition: font-size 0.4s ease;
    }
}


/*
▄▖▄▖▄▖
▙▌▙▌▄▌
▄▌▄▌▙▖
*/

@media screen and (max-width: 992px) {
    .hero_title {
        font-size: 56px;
        line-height: 72px;
        margin-top: 110px;
        padding: 40px;
        transition: font-size 0.4s ease;
        transition: margin-top 0.4s ease;
    }
}

/*
▄▖▄▖▄▖
 ▌▙▖▙▌
 ▌▙▌▙▌
*/

@media screen and (max-width: 768px) {
    .hero_title {
        font-size: 48px;
        line-height: 56px;
        margin-top: 80px;
        padding: 40px;
        transition: font-size 0.4s ease;
        transition: margin-top 0.4s ease;
    }
}

/*
▖▖▄▖▄▖
▙▌▙▌▛▌
 ▌▙▌█▌
*/


@media screen and (max-width: 480px) {
    .hero_title {
        font-size: 40px;
        line-height: 48px;
        margin-top: 80px;
        padding: 40px 20px;
        transition: font-size 0.4s ease;
        transition: margin-top 0.4s ease;
    }
}

/*
▄▖▄▖▄▖
▄▌ ▌▙▖
▄▌ ▌▄▌
*/

@media screen and (max-width: 375px) {
    .hero_title {
        font-size: 32px;
        line-height: 40px;
        margin-top: 80px;
        padding: 20px;
        transition: font-size 0.4s ease;
        transition: margin-top 0.4s ease;
    }
}

/*
▄▖▄▖▄▖
▄▌▄▌▛▌
▄▌▙▖█▌
*/

@media screen and (max-width: 320px) {
    .hero_title {
        font-size: 26px;
        line-height: 34px;
        margin-top: 80px;
        padding: 20px;
        transition: font-size 0.4s ease;
        transition: margin-top 0.4s ease;
    }
}

/*
▄ ▗▖ ▗▖▗▄▄▄▖▗▄▄▖  ▗▄▖  ▗▄▄▖ ▗▄▖ ▗▖  ▗▖▗▄▄▄▖▗▄▄▄▖▗▖  ▗▖▗▄▄▄▖
  ▐▌ ▐▌▐▌   ▐▌ ▐▌▐▌ ▐▌▐▌   ▐▌ ▐▌▐▛▚▖▐▌  █  ▐▌   ▐▛▚▖▐▌  █  
  ▐▛▀▜▌▐▛▀▀▘▐▛▀▚▖▐▌ ▐▌▐▌   ▐▌ ▐▌▐▌ ▝▜▌  █  ▐▛▀▀▘▐▌ ▝▜▌  █  
  ▐▌ ▐▌▐▙▄▄▖▐▌ ▐▌▝▚▄▞▘▝▚▄▄▖▝▚▄▞▘▐▌  ▐▌  █  ▐▙▄▄▖▐▌  ▐▌  █                                                 
*/

.hero_content {
    display: flex;
    margin: auto;
    width: 1160px;
    flex-direction: column;
    align-items: center;
    gap: 54px;
}

@media screen and (max-width: 991px) {
    .hero_content {
        gap: 0px;
    }
}

@media screen and (max-height: 900px), screen and (max-width: 1280px) {
    .hero_content {
        gap: 0px;
    }
}


@media screen and (max-width: 1280px) {
    .hero_content {
        width: 100%;
    }
}



/*
▗▄▄▖ ▗▖ ▗▖▗▄▄▄▖▗▄▄▄▖▗▄▖ ▗▖  ▗▖ ▗▄▄▖
▐▌ ▐▌▐▌ ▐▌  █    █ ▐▌ ▐▌▐▛▚▖▐▌▐▌   
▐▛▀▚▖▐▌ ▐▌  █    █ ▐▌ ▐▌▐▌ ▝▜▌ ▝▀▚▖
▐▙▄▞▘▝▚▄▞▘  █    █ ▝▚▄▞▘▐▌  ▐▌▗▄▄▞▘
*/

.hero_button_group {
    display: flex;
    flex-direction: row;
    height: 54px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 12px;
}


/*
▖▖▄▖▄▖
▙▌▙▌▛▌
 ▌▙▌█▌
*/


@media screen and (max-width: 480px) {
    .hero_button_group {
        flex-direction: row;
        height: auto;
        padding: 0px 20px;
        width: -webkit-fill-available;
    }
}


@media screen and (max-width: 375px) {
    .hero_button_group {
        flex-direction: column;
        height: auto;
        padding: 0px 20px;
        width: 100%;
    }
}



.hero_button_group button {
    display: flex;
    height: 54px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: none;
    border-radius: 4px;
    background: var(--m1_purple, #9327FF);
    color: var(--White, #FFF);
    text-align: center;
    font-family: CircularXX Light;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
}

/*
▖▖▄▖▄▖
▙▌▙▌▛▌
 ▌▙▌█▌
*/


@media screen and (max-width: 375px) {
    .hero_button_group button {
        font-size: 16px;
        line-height: 20px;
        gap: 8px;
    }
}

.hero_button_group button img, .hero_button_group button svg {
    vertical-align: middle;
    height: 20px;
}


@media screen and (max-width: 480px) {
    .hero_button_group button {
        width: 100%;
        width: auto;
        height: 48px;
        padding: 16px;
        font-size: 16px;
    }
}




/*
▗▄▄▄ ▗▄▄▄▖▗▖  ▗▖ ▗▄▖ 
▐▌  █▐▌   ▐▛▚▞▜▌▐▌ ▐▌
▐▌  █▐▛▀▀▘▐▌  ▐▌▐▌ ▐▌
▐▙▄▄▀▐▙▄▄▖▐▌  ▐▌▝▚▄▞▘
*/


.hero_demo {
    margin: 40px 0px 100px 0px;
    width: 100%;
}

@media screen and (max-height: 900px), screen and (max-width: 1280px) {
    .hero_demo {
        margin: 80px 0px 100px 0px;
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    .hero_demo {
        margin: 40px 0px 100px 0px;
    }
}


.demo_container {
    display: flex;
    max-height: 800px;
    /* padding: 238px; */
    margin: auto;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    background: var(--m1_light3, #F4E9E1);
    width: 100%;
    background-position: center;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 16 / 9; 

}




@media screen and (max-width: 1280px) {
    .demo_container {
        border-radius: 0px;
    }
}




@media screen and (max-height: 900px) {
    .demo_container {
        /*width: 100%;*/
        /*height: 552px;*/
        aspect-ratio: 16 / 9; 
        transition: width 0.8s ease; /* Smooth animation */
        transition: height 0.8s ease; /* Smooth animation */
    }
}



@media screen and (max-width: 768px) {
    .demo_container {
        aspect-ratio: 8 / 6; 
        transition: aspect-ratio 0.8s ease; /* Smooth animation */
        transition: aspect-ratio 0.8s ease; /* Smooth animation */
    }
}



@media screen and (max-width: 480px) {
    .demo_container {
        aspect-ratio: 8 / 8; 
        transition: aspect-ratio 0.8s ease; /* Smooth animation */
        transition: aspect-ratio 0.8s ease; /* Smooth animation */
    }
}




.demo_button_group {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
    flex-wrap: nowrap;
    margin: auto;
    padding: 48px 78px;
}

@media screen and (max-height: 900px), screen and (max-width: 1280px) {
    .demo_button_group {
        max-width: 800px;
        padding: 48px 20px;
    }
}


@media screen and (max-width: 1280px) {
    .demo_button_group {
        gap: 16px;
    }
}


.demo_button {
    display: flex;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 2px solid var(--m1_light3, #F4E9E1);
    background: #FFF;
    width: -webkit-fill-available;

    color: #222;
    text-align: center;
    font-feature-settings: 'ss02' on, 'liga' off;
    font-family: CircularXX Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: 32px; /* 200% */
    letter-spacing: 0.16px;
}

.demo_button_on {
    display: flex;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 2px solid #FFF;
    background: #3D3D3D;
    width: -webkit-fill-available;

    color: var(--m1_light4, #F5F3F0);
    text-align: center;
    font-feature-settings: 'ss02' on, 'liga' off;
    font-family: CircularXX Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: 32px; /* 200% */
    letter-spacing: 0.16px;
}



/*
  ░██████     ░██████     ░██████  ░██████   ░███    ░██         
 ░██   ░██   ░██   ░██   ░██   ░██   ░██    ░██░██   ░██         
░██         ░██     ░██ ░██          ░██   ░██  ░██  ░██         
 ░████████  ░██     ░██ ░██          ░██  ░█████████ ░██         
        ░██ ░██     ░██ ░██          ░██  ░██    ░██ ░██         
 ░██   ░██   ░██   ░██   ░██   ░██   ░██  ░██    ░██ ░██         
  ░██████     ░██████     ░██████  ░██████░██    ░██ ░██████████                                                                                                    
*/




.social_proof {
    display: flex;
    align-items: flex-start;
    gap: 1px 1px;
    flex: 1 0 0;
    align-self: stretch;
    flex-wrap: wrap;
    background-color: #CCCCCC;
    border-top: 1px solid #CCCCCC;
}

.social_proof img, svg {
    vertical-align: middle;
    overflow-clip-margin: content-box;
    overflow: clip;
    height: 64px;
}

/*
▗ ▄▖▄▖▄▖
▜ ▄▌▙▌▛▌
▟▖▙▖▙▌█▌
*/


@media screen and (max-width: 1280px) {
    .social_proof {
        border-radius: 0px;
    }
}


.row_a,
.row_b {
    display: flex;
    flex-direction: row;
    gap: 1px 1px;
    width: 100%;
}

@media screen and (max-width: 992px) {
    .row_a,
    .row_b {
        flex-direction: column;
    }
}


@media screen and (max-width: 768px) {
    .row_a,
    .row_b {
        flex-direction: row;
    }
}



.row_01,
.row_02,
.row_03,
.row_04 {
    display: flex;
    flex-direction: row;
    gap: 1px 1px;
    flex: 1 0 0;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .row_01,
    .row_02,
    .row_03,
    .row_04 {
        flex-direction: column;
    }
}



@media screen and (max-width: 480px) {
    .row_03,
    .row_04 {
        display: none;
    }
}

.social_proof_grid {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    color: #B9B4AD;
    text-align: center;
    font-family: CircularXX Light;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 240% */
    letter-spacing: 2px;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .social_proof_grid {
        font-size: 16px;
    }
}

.company_logo {
    display: flex;
    padding: 8px 40px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    background-color: #FFFFFF;
}

@media screen and (max-width: 1280px) {
    .company_logo {
        padding: 8px 20px;
    }
}





.pattern1 {
    height: 40px;
    align-self: stretch;
    background-image: url("/sketch/images/patterns/pattern.png");
    background-blend-mode: screen, normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 20px 0px;
}



/*
░█████████  ░█████████    ░██████   ░███████   ░██     ░██   ░██████  ░██████████
░██     ░██ ░██     ░██  ░██   ░██  ░██   ░██  ░██     ░██  ░██   ░██     ░██    
░██     ░██ ░██     ░██ ░██     ░██ ░██    ░██ ░██     ░██ ░██            ░██    
░█████████  ░█████████  ░██     ░██ ░██    ░██ ░██     ░██ ░██            ░██    
░██         ░██   ░██   ░██     ░██ ░██    ░██ ░██     ░██ ░██            ░██    
░██         ░██    ░██   ░██   ░██  ░██   ░██   ░██   ░██   ░██   ░██     ░██    
░██         ░██     ░██   ░██████   ░███████     ░██████     ░██████      ░██                                                                             
*/


/*
▗▄▄▄▖▗▄▖ ▗▄▄▖  ▗▄▄▖
  █ ▐▌ ▐▌▐▌ ▐▌▐▌   
  █ ▐▛▀▜▌▐▛▀▚▖ ▝▀▚▖
  █ ▐▌ ▐▌▐▙▄▞▘▗▄▄▞▘     
*/


#section1,
#section2,
#section3 {
    padding: 60px;
}



@media screen and (max-width: 1280px) {
    #section1,
    #section2,
    #section3 {
        padding: 0px;
    }
}




.product_suite_tabs_container {
    padding-top: 120px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    color: #222;
    text-align: right;
    font-family: CircularXX Regular;
    font-size: 36px;
    font-style: normal;
    font-weight: 450;
    line-height: 48px; /* 133.333% */
}


.product_suite_tabs {
    position: sticky;
    position: -webkit-sticky; /* Safari support */
    display: flex;
    top: 79px;
    padding: 0;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    gap: 1px;
    background-color: #CCCCCC;
    border: 1px solid #CCCCCC;
    overflow: visible;
    max-width: 1540px;
    width: 100%;
    margin: auto;
    margin-bottom: 120px;
    z-index: 2001;
}

@media screen and (max-height: 900px) {
    .product_suite_tabs img {
        height: 30px;
    }
}


@media screen and (max-width: 768px) {
    .product_suite_tabs {
        top: 63px;
    }
}


@media screen and (max-width: 768px) {
    .product_suite_tabs img {
        height: 30px;
    }
}

@media screen and (max-width: 480px) {
    .product_suite_tabs img {
        height: 20px;
    }
}





.product_suite_tabs a {
    text-decoration: none;
}


.product_suite_tabs .tab {
    display: flex;
    flex-direction: row;
    height: 80px;
    padding: 9px 21px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border: none;
/*    border: 1px solid var(--m1_light1, #CCC);*/
    background: #FFF;
    width: 33.33%;

    color: var(--m1_black, #222);
    font-family: CircularXX Light;
    font-size: 20px;
    line-height: normal;

}

@media screen and (max-width: 768px) {
    .product_suite_tabs .tab {
        font-size: 18px;
        height: 64px;
        gap: 6px;
    }
}


@media screen and (max-width: 480px) {
    .product_suite_tabs .tab {
        font-size: 16px;
        height: 64px;
        gap: 4px;
    }
}


@media screen and (max-width: 375px) {
    .product_suite_tabs .tab {
        flex-direction: column;
        gap: 0px;
    }
}


@media screen and (max-height: 900px) {
    .product_suite_tabs .tab {
        height: 64px;
    }
}




.product_suite_tabs .tab.active {
    background: var(--m1_light6, #EFECE8);
    transition: background 0.4s Ease; /* Smooth animation */
}


/*
 ▗▄▄▖ ▗▄▖ ▗▄▄▖ ▗▄▄▄  ▗▄▄▖
▐▌   ▐▌ ▐▌▐▌ ▐▌▐▌  █▐▌   
▐▌   ▐▛▀▜▌▐▛▀▚▖▐▌  █ ▝▀▚▖
▝▚▄▄▖▐▌ ▐▌▐▌ ▐▌▐▙▄▄▀▗▄▄▞▘                      
*/


.product_title {
    display: flex;
    max-width: 1328px;
    padding: 24px 80px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    margin: auto;
}

@media screen and (max-width: 980px) {
    .product_title {
        padding: 0px 64px;
        gap: 16px;
    }

}


@media screen and (max-width: 768px) {
    .product_title {
        padding: 0px 40px;
        gap: 16px;
    }

}


.product_title_header {
    color: #222;
    text-align: center;
    /* Subhead 2/A */
    font-family: CircularXX Light;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 72px; /* 112.5% */
    align-self: stretch;
}

@media screen and (max-width: 980px) {
    .product_title_header {
        font-size: 56px;
        line-height: 64px;
    }

}


.product_title_suhead {
    color: var(--Gray-80, #3E3E42);
    text-align: center;
    /* Paragraph 2/A */
    font-family: CircularXX Light;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 150% */
    align-self: stretch;
    max-width: 1100px;
    margin: auto;
}

@media screen and (max-width: 980px) {
    .product_title_suhead {
        font-size: 24px;
        line-height: 36px;
    }

}

@media screen and (max-width: 480px) {
    .product_title_suhead {
        font-size: 20px;
        line-height: 32px;
    }
}



.product_card {
    display: flex;
    flex-direction: row;
    max-width: 1540px;
    width: auto;
    align-items: center;
    border-radius: 8px;
/*    border: 1px solid #D0C9BF;*/
    background: #FFF;
    margin: auto;
    overflow: hidden;
}

@media screen and (max-width: 1280px) {
    .product_card {
        border-radius: 0px;
    }

}


@media screen and (max-width: 768px) {
    .product_card {
        flex-direction: column-reverse;
        padding: 0px 20px;
    }

}

@media screen and (max-width: 480px) {
    .product_card {
        padding: 0px;
    }

}



.product_card_left {
    display: flex;
    width: 36%;
    height: stretch;
    max-width: 664px;
    padding: 40px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 8px 0 0 8px;
    border-top: 1px solid #D0C9BF;
    border-bottom: 1px solid #D0C9BF;
    border-left: 1px solid #D0C9BF;
}


@media screen and (max-width: 1280px) {
    .product_card_left {
        height: stretch;
        border-radius: 0px;
        border-top: 1px solid #D0C9BF;
        border-bottom: 1px solid #D0C9BF;
        border-left: none;
    }
}


@media screen and (max-width: 900px) {
    .product_card_left {
        padding: 40px 32px;
    }
}

@media screen and (max-width: 768px) {
    .product_card_left {
        padding: 40px;
        width: 100%;
        max-width: 100%;
        border-top: none;
        border-left: 1px solid #D0C9BF;
        border-right: 1px solid #D0C9BF;
    }
}

@media screen and (max-width: 480px) {
    .product_card_left {
        padding: 40px 32px 32px 32px;
        border-left: none;
        border-right: none;
    }
}

@media screen and (max-width: 375px) {
    .product_card_left {
        padding: 20px;
    }
}



.product_card_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding-bottom: 40px;
}



.product_card_item {
    display: flex;
    padding: 20px 0 12px 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-top: 1px solid var(--m1_light5, #B9B4AD);
    background: #FFF;
}

@media screen and (max-width: 768px) {
    .product_card_item {
        padding: 20px 0;
    }
}



.pci_outside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.pci_inside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.pci_inside .title {
    color: #222;
    font-family: CircularXX Light;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
}

.pci_inside .description {
    color: #666;
    font-family: CircularXX Light;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
}


@media screen and (max-width: 768px) {
    .pci_inside .description {
        display: none;
    }
}

#pc_01_a .description,
#pc_02_a .description,
#pc_03_a .description{
    display: block;
}

.pci_outside .cta {
    color: var(--m1_black, #222);
    font-family: CircularXX Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
}

@media screen and (max-width: 768px) {
    .pci_outside .cta {
        display: none;
    }
}


#pc_01_a .cta,
#pc_02_a .cta,
#pc_03_a .cta{
    display: block;
}





.product_card_left .expplore {
    display: flex;
    padding: 4px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 4px;
    background: #9327FF;

    color: var(--m1_light3, #F4E9E1);
    font-family: CircularXX Light;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 187.5% */
}



.product_card_right {
    height: stretch;
    width: 64%;
    flex: 1 0 0;
    background: var(--m1_light3, #F4E9E1);
    background-size: cover;
    overflow: hidden;
}


@media screen and (max-width: 1280px) {
    .product_card_right {
        height: stretch;
    }
}

@media screen and (max-width: 768px) {
    .product_card_right {
        /* height: fit-content; */
        /* height: 320px; */
        align-self: stretch;
        width: 100%;
        aspect-ratio: 4 / 3;
        flex: auto;
    }
}




.product_ui {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}



.product_ui img {
    width: 560px;
    top: 80px;
    position: relative;
}

@media screen and (max-width: 1280px) {
    .product_ui img {
        width: -webkit-fill-available;
        padding: 60px;
    }
}

@media screen and (max-width: 768px) {
    .product_ui img {
        width: 90%;
        padding: 60px;
        margin: auto;
        top: 0px;
    }
}



/*
░█████████    ░██████   ░██████
░██     ░██  ░██   ░██    ░██  
░██     ░██ ░██     ░██   ░██  
░█████████  ░██     ░██   ░██  
░██   ░██   ░██     ░██   ░██  
░██    ░██   ░██   ░██    ░██  
░██     ░██   ░██████   ░██████                 
*/



#roi {
    padding-top: 120px;
    align-items: center;
    align-self: stretch;
    background: var(--m1_light4, #F5F3F0);
}

.roi_title {
    color: #222;
    text-align: center;
    font-family: CircularXX Light;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 72px;
    align-self: stretch;
}


@media screen and (max-width: 992px) {
    .roi_title {
        color: var(--m1_black, #222);
        text-align: center;
        /* Subhead 1/A */
        font-family: CircularXX Light;
        font-size: 48px;
        font-style: normal;
        font-weight: 300;
        line-height: 58px; /* 120.833% */
        padding: 0px 40px;
    }
}


@media screen and (max-width: 480px) {
    .roi_title {
        color: #222;
        text-align: center;
        /* Subhead 1/B */
        font-family: CircularXX Light;
        font-size: 36px;
        font-style: normal;
        font-weight: 450;
        line-height: 48px; /* 133.333% */
        padding: 0px 20px;
    }
}


.roi_viewport {
    padding: 90px 0px;
    display: flow-root;
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; 
    justify-content: center;
}


@media screen and (max-width: 992px) {
    .roi_viewport {
        padding-top: 64px;
    }
}


@media screen and (max-width: 480px) {
    .roi_viewport {
        padding-top: 40px;
    }
}



.roi_viewport::-webkit-scrollbar {
    display: none;
}


.roi_row {
    display: inline-flex;
    height: 532px;
    align-items: center;
    gap: 24px;
    margin: auto;
    min-width: max-content;
    transition: transform 0.5s ease-in-out;
    overflow-x: auto;
    width: max-content;
    animation: scroll-loop 50s linear infinite;
}

.roi_viewport:hover .roi_row {
  animation-play-state: paused;
}
/*
@keyframes scroll-loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50%)); 
}
*/

.roi_card {
    display: flex;
    /*min-width: 320px;*/
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 8px;
    overflow: hidden;
    scroll-snap-align: center; 
    width: 440px;
    height: 500px;
}

.roi_top {
    display: flex;
    height: 180px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    background-size: cover;
    overflow: hidden;
}

.roi_bottom {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
    align-self: stretch;
}

#roi_1 .roi_bottom {
    background: var(--m1_light3, #F4E9E1);
}

#roi_2 .roi_bottom {
    background: var(--m1_purple, #9327FF);
}

#roi_3 .roi_bottom {
    background: #00CE94;
}

#roi_4 .roi_bottom {
    background: #222222;
}

#roi_5 .roi_bottom {
    background: var(--m1_purple, #9327FF);
}



.roi_tag {
    display: flex;
    padding: 6px 8px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 1px;
    background: var(--m1_light4, #F5F3F0);

    color: var(--m1_black, #222);
    font-family: CircularXX light;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
    text-transform: uppercase;
}


.roi_outer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    align-self: stretch;
}

.roi_inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.roi_number {
    color: var(--m1_black, #222);
    font-feature-settings: 'liga' off;
    font-family: CircularXX Book;
    font-size: 88px;
    font-style: normal;
/*    font-weight: 700;*/
    line-height: 100px; /* 113.636% */
}

.roi_info {
    color: var(--m1_black, #222);
    font-family: CircularXX light;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 150% */
}

.roi_link {
    color: var(--m1_black, #222);
    font-family: CircularXX light;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    text-underline-position: from-font;
}


.roi_quote {
    color: var(--m1_black, #222);
    font-family: CircularXX Book;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}


.roi_quote_lockup {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.roi_avatar {
    width: 32px;
    height: 32px;
    aspect-ratio: 1/1;
    background-size: cover;
    border-radius: 100px;
}

.roi_name {
    color: var(--m1_black, #222);
    font-family: CircularXX;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}



#roi_4 .roi_number,
#roi_4 .roi_info,
#roi_4 .roi_link {
    color: #ffffff;
}

#roi_2 .roi_number,
#roi_2 .roi_info,
#roi_2 .roi_link {
    color: #ffffff;
}

#roi_5 .roi_quote,
#roi_5 .roi_name {
    color: #ffffff;
}




.roi_ready_module {
    display: flex;
    padding: 100px 40px;
    flex-direction: column;
    align-items: center;
    gap: 54px;
    align-self: stretch;
    border-top: 1px solid var(--m1_dark_grey, #99999B);
}

.roi_subhead {
    color: var(--Gray-90-Text-Black, #2E2E33);
    text-align: center;
    /* Subhead/medium */
    font-family: CircularXX Light;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 56px; /* 116.667% */
}

.roi_bullets {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 12px;
}

@media screen and (max-width: 768px) {
    .roi_bullets {
        flex-direction: column;
        align-items: center;
    }
}


.roi_bullets_1 {
    display: flex;
    align-items: center;
}

.roi_bullets_2a {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: #222;
    margin: 14px;
}

@media screen and (max-width: 768px) {
    .roi_bullets_2a {
        display: none;
        
    }
}

.roi_bullets_2b {
    color: var(--Gray-80, #3E3E42);
    font-family: CircularXX Light;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
}

@media screen and (max-width: 768px) {
    .roi_bullets_2b {
        font-family: CircularXX Regular;
        font-size: 22px;
    }
}





@media screen and (max-width: 768px) {
    .roi_ready_module .hero_button_group {
        flex-direction: column;
        height: auto;
        padding: 0px 20px;
        width: 100%;
    }
}








/*
   ░███    ░██       ░██    ░███    ░█████████  ░███████     ░██████   
  ░██░██   ░██       ░██   ░██░██   ░██     ░██ ░██   ░██   ░██   ░██  
 ░██  ░██  ░██  ░██  ░██  ░██  ░██  ░██     ░██ ░██    ░██ ░██         
░█████████ ░██ ░████ ░██ ░█████████ ░█████████  ░██    ░██  ░████████  
░██    ░██ ░██░██ ░██░██ ░██    ░██ ░██   ░██   ░██    ░██         ░██ 
░██    ░██ ░████   ░████ ░██    ░██ ░██    ░██  ░██   ░██   ░██   ░██  
░██    ░██ ░███     ░███ ░██    ░██ ░██     ░██ ░███████     ░██████   
*/                                                               







#awards_module {
    display: flex;
    padding: 120px 66px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    background: #F6F6F6;
    margin: auto;
}

@media screen and (max-width: 992px) {
    #awards_module {
        padding: 80px 20px;
    }
}

.awards_row_01,
.awards_row_02 {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 40px;
}

.awards_row_01a,
.awards_row_01b {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 40px;
}


@media screen and (max-width: 992px) {
    .awards_row_01 {
        flex-direction: column;
    }
}


@media screen and (max-width: 992px) {
    .awards_row_01 {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .awards_row_01 img,
    .awards_row_02 img {
        height: 140px;
    }
}

@media screen and (max-width: 480px) {
    .awards_row_01 img,
    .awards_row_02 img {
        height: 100px;
    }
}

@media screen and (max-width: 375px) {
    .awards_row_01 img, 
    .awards_row_02 img {
        height: 80px;
    }
}

@media screen and (max-width: 768px) {
    .awards_row_02 {
        gap: 0px;
    }
}

@media screen and (max-width: 768px) {
    .awards_row_01 .awards_row_01a {
        gap: 20px;
    }
}

@media screen and (max-width: 480px) {
    .awards_row_01b {
        display: none;
    }
}




/*
░██████████  ░██████     ░██████   ░██████████░██████████ ░█████████  
░██         ░██   ░██   ░██   ░██      ░██    ░██         ░██     ░██ 
░██        ░██     ░██ ░██     ░██     ░██    ░██         ░██     ░██ 
░█████████ ░██     ░██ ░██     ░██     ░██    ░█████████  ░█████████  
░██        ░██     ░██ ░██     ░██     ░██    ░██         ░██   ░██   
░██         ░██   ░██   ░██   ░██      ░██    ░██         ░██    ░██  
░██          ░██████     ░██████       ░██    ░██████████ ░██     ░██ 
*/                                                                
                                                                      
                                                                      




#footer {
    /*display: flex;*/
    height: 100%;
    padding: 200px 0px;
    /*flex-direction: column;*/
    align-items: center;
    align-self: stretch;
    background: #F5F3F0;
    margin: auto;
}

@media screen and (max-width: 1280px) {
    #footer {
        padding: 80px 0px;
    }
}

@media screen and (max-width: 980px) {
    #footer {
        padding: 0px;
    }
}



.footer_top {
    display: flex;
    flex-direction: row;
    max-width: 1280px;
    justify-content: space-between;
    align-items: flex-start;
    overflow: visible;
    margin: auto;
}

@media screen and (max-width: 1280px) {
    .footer_top {
        padding: 80px;
        gap: 120px;
    }
}


@media screen and (max-width: 980px) {
    .footer_top {
        display: flex;
        flex-direction: column-reverse;
        padding: 20px;
        gap: 120px;
    }
}


.footer_top_right {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
}

@media screen and (max-width: 980px) {
    .footer_top_right {
        display: flex;
        padding: 0px;
        justify-content: space-between;
        align-items: flex-start;
        flex-shrink: 0;
    }
}


.footer_1_2,
.footer_3_4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-shrink: 0;
    width: 50%;
}

@media screen and (max-width: 1280px) {
    .footer_1_2,
    .footer_3_4 {
        display: flex;
        flex-direction: column;
        /* width: 882.432px; */
        justify-content: space-between;
        align-items: flex-start;
        flex-shrink: 0;
        gap: 40px;
        flex-wrap: nowrap;
    }
}

.footer_top_left {
    display: flex;
    width: 196.591px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;

    color: #666;
    font-family: CircularXX Regular;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
}

.footer_button {
    display: flex;
    width: fit-content;
    height: 44px;
    padding: 20px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;

    border-radius: 4px;
    border: 1px solid var(--m1_black, #222);
    background: #FFF;

    color: var(--m1_black, #222);
    text-align: center;
    font-feature-settings: 'liga' off;
    font-family: CircularXX Book;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
}

.button_lockup {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 164px;
}

.footer_exploding_m {
    display: flex;
    width: 196.591px;
    height: 200px;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: visible;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%); 
}
/*
.footer_exploding_m img {
    width: 196.591px;
    height: 200px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
*/


.footer_column1,
.footer_column2,
.footer_column3,
.footer_column4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}


.footer_links {
    text-decoration: none;
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.footer_links li {
    color: #222;
    font-family: CircularXX Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}



.footer_column_header {
    color: #222;
    font-family: CircularXX Medium;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 100% */
}







.button_grid {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}


.button_white_purple .nav_link {
    text-align: center;
    font-feature-settings: 'liga' off;
    font-family: CircularXX Light;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
    color: #9327FF;
}


.button_white_purple {
    display: flex;
    height: 44px;
    padding: 20px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 4px;
    border: none;
    background: #FFF;

}

.button_white_purple:hover {
    background: #FBF7FF;
}

.button_white_purple:active {
    background: #FFF;
}



.buton_purple_white .nav_link {
    text-align: center;
    font-feature-settings: 'liga' off;
    font-family: CircularXX Light;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
    color: #FFFFFF;
}


.buton_purple_white {
    display: flex;
    height: 44px;
    padding: 20px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 4px;
    border: none;
    background: #9327FF;

}

.buton_purple_white:hover {
    background: #9E3CFF;
}

.buton_purple_white:active {
    background: #9327FF;
}




.button_white_black .nav_link {
    text-align: center;
    font-feature-settings: 'liga' off;
    font-family: CircularXX Light;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
    color: #222222;
}


.button_white_black {
    display: flex;
    height: 44px;
    padding: 20px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 4px;
    border: none;
    background: #FFF;

}

.button_white_black:hover {
    background: #F3F3F3;
}

.button_white_black:active {
    background: #FFF;
}


.button_black_white .nav_link {
    text-align: center;
    font-feature-settings: 'liga' off;
    font-family: CircularXX Light;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
    color: #FFFFFF;
}

.button_black_white {
    display: flex;
    height: 44px;
    padding: 20px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 4px;
    border: none;
    background: #222;

}

.button_black_white:hover {
    background: #444444;
}

.button_black_white:active {
    background: #222;
}





.button_grey_white .nav_link {
    text-align: center;
    font-feature-settings: 'liga' off;
    font-family: CircularXX Light;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
    color: #FFFFFF;
}

.button_grey_white {
    display: flex;
    height: 44px;
    padding: 20px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 4px;
    border: none;
    background: #444444;
    /*background-color: #444444; -webkit-transition: background-color .5s; transition: background-color .5s;*/

}

.button_grey_white:hover {
    background: #000000;
    /*background-color: #000000; -webkit-transition: background-color .5s; transition: background-color .5s;*/
}

.button_grey_white:active {
    background: #444444;
    background-color: #444444;
}



.button_biege_purple .nav_link {
    text-align: center;
    font-feature-settings: 'liga' off;
    font-family: CircularXX Light;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
    color: #9327FF;
}

.button_biege_purple {
    display: flex;
    height: 44px;
    padding: 20px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 4px;
    border: none;
    background: #F4E9E1;
    /*background-color: #F4E9E1; -webkit-transition: background-color 1s; transition: background-color .5s;*/

}

.button_biege_purple:hover {
    background: #EADDCF;
}

.button_biege_purple:active {
    background: #F4E9E1;
}








